
#section-login{
    height: 100%;
}

#logo{
    width: 100%;
    max-width: 140px;
    margin: auto;
    padding-top: 10px;
}

.view-cascade{
    margin-top: -40px;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    background-color: #426381;
}
.view-cascade h3{
    margin: 0;
}

.card-header-title{
    padding: 1.6rem 1rem;
    color: rgb(255, 255, 255)!important;
}

#esqueci-senha{
    font-size: 12px;
}
#btn-login{
    width: 100%;
}