<!-- Navbar -->
<nav id="menu" class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" [routerLink]="['/']">
      <img id="logo" src="assets/img/logo-branco.png">
    </a>

    <!-- Collapse -->
    <button (click)="menuVisible(true)" class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/home']"  class="nav-link">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a [routerLink]="['/usuario/perfil']" class="nav-link">
            Perfil
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>
<!-- Navbar -->

  <!-- Modal -->
  <div class="modal fade show animated fadeInRight" [ngClass]='classModalMenu' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Publicações</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button (click)="menuVisible(false)" type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
  </div>