#menu{
    background-color: #426381;
}
#logo{
    width: 40px;
}
.hidden{
    display: none;
}
.visible{
    display: block;
}
#modalMenu .modal-dialog{
    height: 100%;
    margin-right: 0;
}
#modalMenu .modal-body, .modal-footer{
    background-color: #426381;
}
#menu-mobile{
    box-shadow: unset;
}
#input-pesquisar{
    margin-bottom: 20px;
}