<app-menu></app-menu>

<!----- Conteúdo principal da página ------->
<section id="section-usuario" class="com-menu-rodape">

  <!-- Card -->
  <div class="card m-2 animated fadeInDown">
    <!-- Default form contact -->
    <form [formGroup]="usuarioForm" (submit)="salvar(usuarioForm.value)" class="border border-light p-3">

      <p id="titulo" class="h5 mb-3">Cadastro</p>

      <!-- Foto perfil -->
      <!--
      <a class="btn-floating btn-lg pink lighten-1 mt-0 float-left">
        <span>
          <i class="fas fa-paperclip" aria-hidden="true"></i>
        </span>
      </a>
      -->
      <div *ngIf="!preview" class="row">
        <button id="btn-add-img-perfil" type="button" (click)="fileInput.click()" class="btn btn-info rounded-circle">
            <i class="fa fa-image fa-2x align-middle"></i>
        </button>
      </div>

      <div *ngIf="preview" class="row">
        <div class="col-xl text-center">
          <img id="img-perfil" class="img-fluid z-depth-1 rounded-circle" src="{{preview}}" alt="">
        </div>
        <div class="col-xl mt-2">
          <button id="btn-remover-img-perfil" type="button" class="btn btn-sm btn-default" (click)="clearFile()">Remover arquivo</button>
        </div>   
      </div>

      <div class="form-group">
          <input
                hidden
                type="file"
                id="foto"
                accept="image/*" 
                (change)="onFileChange($event)" 
                #fileInput
          >
        </div>

      <!-- Foto perfil -->

      <app-input errorMessage="Campo obrigatório">
        <!-- Name -->
        <input id="nome" type="text" formControlName="nome" class="form-control" placeholder="Nome" autocomplete="off">
      </app-input>

      <app-input errorMessage="Campo obrigatório">
          <input formControlName="senha" type="password" class="form-control" placeholder="Senha" autocomplete="off">
      </app-input>

      <app-input errorMessage="Campo obrigatório">
          <input formControlName="senhaConfirmacao" type="password" class="form-control" placeholder="Confirmação senha" autocomplete="off">
      </app-input>
    
      <app-input errorMessage="Campo de e-mail obrigatório">
        <!-- Email -->
        <input formControlName="email" type="email" id="defaultContactFormEmail" class="form-control" placeholder="E-mail" autocomplete="off">
      </app-input>
            
      <!-- Subject -->
      <app-input errorMessage="Campo obrigatório">
        <select formControlName="sexo" class="browser-default custom-select">
            <option value="" disabled>Escolha a opção</option>
            <option value="1" selected>Feminino</option>
            <option value="2">Masculino</option>
        </select>
      </app-input>


      <!-- Send button -->
      <button [disabled]="usuarioForm.invalid" class="btn btn-info btn-block" type="submit">Salvar</button>

    </form>
    <!-- Default form contact -->
  </div>

</section>
<!----- Conteúdo principal da página ------->

<app-rodape></app-rodape>