<!-- Footer -->
<footer class="page-footer font-small fixed-bottom">

  <!-- Copyright -->
  <div class="class-footer">
      <div class="container">
          <div class="row">
            <div class="col col-icon waves-effect">
              <i class="fas fa-user-friends"></i>
            </div>
            <div class="col col-icon waves-effect">
              <i class="fas fa-camera"></i>
            </div>
            <div [routerLink]="['/usuario/buscar']" class="col col-icon waves-effect">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
