<app-menu></app-menu>

<!----- Conteúdo principal da página ------->
<section id="section-perfil" class="com-menu-rodape">
  <!-- Card -->
<div class="card m-2 animated fadeInDown">
  <!-- Card content -->
  <div class="card-body">
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-user"></i></div>
      </div>
      <input type="text" class="form-control py-0" placeholder="">
      <button id="btn-filtro" type="submit" class="btn btn-primary btn-md mt-0"><i class="fas fa-search"></i></button>
    </div>
    
    <hr>
    <ul *ngIf="usuarios; else semUsuarios" class="list-group">
      <li *ngFor="let usuario of usuarios" class="list-group-item">
        <h6 class="card-title">
          <img src="{{usuario.foto}}" class="img-fluid z-depth-1 img-thumbnail rounded-circle img-publicacoes"
          alt="Responsive image">
          {{usuario.nome}}
        </h6>
      </li>
    </ul>
    <ng-template #semUsuarios>
      Usuarios não encontrados.
    </ng-template>
  </div>
</div>
<!-- Card -->
</section>
<!----- Conteúdo principal da página ------->

<app-rodape></app-rodape>
