/* You can add global styles to this file, and also import other style files */
html,
body,
header,
.view {
  height: 100%;
}
body{
  background-color: rgba(0,0,0,.3)
}
.com-menu-rodape{
  padding-top: 80px;
  padding-bottom: 58px;
}